@import url("./css/root.css");

/* commen gap properties */

.gap-6 {
  gap: 6px;
}

.gap-10 {
  gap: 10px;
}

.gap-17 {
  gap: 17px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.gap-40 {
  gap: 40px;
}

/* all max width properties */

.mw-521 {
  max-width: 521px;
}

.mw-556 {
  max-width: 556px;
}

.mw-632 {
  max-width: 632px;
}

.mw-550 {
  max-width: 550px;
}

.p1 {
  max-width: 565px;
}

.heading1 {
  max-width: 766px;
}

/* spacing box */

.pt-10 {
  padding-top: 10px;
}

.pt-16 {
  padding-top: 16px;
}

.pt-20 {
  padding-top: 20px;
}

.px-22 {
  padding-left: 22px !important;
  padding-right: 22px !important;
}

.pt-26 {
  padding-top: 26px;
}

.mt-31 {
  margin-top: 31px;
}

.pt-34 {
  padding-top: 34px;
}

.mt-40 {
  margin-top: 40px;
}

.pt-62 {
  padding-top: 62px;
}

.bottom-80 {
  bottom: 80px;
}

.mt-100 {
  margin-top: 100px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* header on top */

.header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/main.png);
}

.commen-btn {
  width: 142px;
  height: 48px;
  border: none;
  outline: none;
  border-radius: 41px;
  transition: all 200ms linear;
}

.cv-builder::after {
  content: "";
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 11px;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/main-h.png);
}

.demo-btn {
  border: 1px solid var(--btns-color);
  transition: all 200ms linear;
  background-color: transparent;
}

.sun::after {
  content: "";
  top: -87px;
  left: 130px;
  height: 63px;
  width: 64px;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/sun.png);
}

.border-none{
  border: unset !important;
}

/* main section animation here */

.left-1,
.right-2,
.left-2,
.right-1 {
  animation: left-1 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes left-1 {
  0% {
    transform: scaleY(0.4);
    transform-origin: 100% 0%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}

.heading1,
.p1,
.tow-btns,
.bottom-1,
.disk-img,
.box-3d {
  animation: heading1 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes heading1 {
  0% {
    filter: blur(12px) opacity(0%);
  }
  100% {
    filter: blur(unset);
  }
}

.nav {
  animation: bounce-top 1.2s both;
  animation-delay: 1.2s;
}

@keyframes bounce-top {
  0% {
    transform: translateY(-90px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

/* slider section */

.slider-box {
  height: 161px;
  background-color: var(--white-color);
  border-radius: 8px;
  box-shadow: 0px 4px 10px var(--slider-box-shadow);
  margin-bottom: 16px;
}

.theme-img {
  box-shadow: 0px 3px 35px 0px var(--theme-img-shadow);
  border-radius: 18px;
}

.slick-slide {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -19px;
  padding-top: 10px;
  padding-right: 10px;
}

.slick-current div .slider-box {
  border: 1px solid var(--slider-border) !important;
}

.slick-current div .slider-txt {
  color: var(--btns-color);
}

.slick-dots li {
  width: 16px;
  height: 5px;
  border-radius: 6px;
  background-color: var(--color-e5);
}
.slick-dots li button {
  display: none !important;
}

.slick-dots li.slick-active {
  width: 23px;
  height: 5px;
  background-color: var(--btns-color);
  border-radius: 6px;
}

.theme-img {
  height: 100%;
  object-fit: cover;
}
/* tools section */

.section2 {
  background-image: url(../images/sec3-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.cv-line::after {
  content: "";
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 11px;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/cv-line.png);
}

/* design box */

.design {
  left: -145px;
  top: 0;
  width: 100%;
}

.z-1 {
  z-index: 1;
}

.tick-svg {
  border-radius: 50%;
  padding: 5px 4px;
}

/* resume section */

.job::after {
  content: "";
  bottom: -14px;
  left: 0;
  width: 100%;
  height: 11px;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/job.png);
}

.section4,
.section2 {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* slider2 box */

.slick-white-box {
  min-height: 104px;
  border-radius: 10px;
  padding: 14px 18px;
  background-color: var(--white-color);
  box-shadow: 0px 18px 59px 0px var(--white-box-shadow);
}

.vector-img {
  left: 31px;
  bottom: -23px;
}

.img-or-content-box {
  padding-left: 20px;
}

.what::after {
  content: "";
  position: absolute;
  top: -35px;
  left: -9px;
  width: 84px;
  height: 84px;
  background-image: url(../images/commas.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.next,
.prev {
  width: 41.69px;
  height: 41.69px;
  background-color: var(--prev);
  border-radius: 50%;
  border: none;
  outline: none;
  transition: all 200ms linear;
}

.prev {
  background-color: var(--white-color);
  border: 1px solid var(--btns-color);
  left: -4%;
  margin-left: 12px;
}

.next {
  right: -4%;
  margin-right: 12px;
}

.bottom-293 {
  bottom: 295px;
}

.slider1 {
  margin-bottom: 10px;
}

/* accordian section */

.accordian {
  max-width: 856px;
}

.accordian-h-svg {
  cursor: pointer;
}

.accordian-box {
  border-bottom: 1px solid var(--color-e5);
}

.accordian-svg {
  padding-right: 33px;
}

.accordian-p {
  max-width: 786px;
}

.not-show {
  display: none;
}

.accordian {
  padding-top: 50px;
}

.accordian-h {
  padding-right: 12px;
}

.z_1{
  z-index: -1;
}

/* red box section */

.section8 {
  background: linear-gradient(
    to bottom,
    var(--white-color) 50%,
    var(--black-color) 50%
  );
  padding-bottom: 19px;
}

.red-box {
  max-width: 1140px;
  min-height: 381px;
  padding: 12px;
  border-radius: 21px;
  background-color: var(--btns-color);
}

.red-h {
  max-width: 756px;
}

.red-p {
  max-width: 615px;
}

.start-btn {
  width: 168px;
  height: 53px;
  border: none;
  outline: none;
  border-radius: 41px;
  transition: all 200ms linear;
}

/* footer-p */

.all-social-icons {
  padding-top: 33px;
}

/* sub footer */

.sub-footer {
  border-top: 1px solid var(--sub-footer);
  padding: 20px 12px;
  margin-top: 70px;
}

/* all elips here */

.section1-top {
  width: 100%;
}

.section1-bottom {
  right: 0;
  top: 29%;
}

.section3-bottom {
  width: 100%;
}

.section3-top {
  right: 0;
  bottom: 0;
}

.resume-top {
  right: 0;
  bottom: 0;
}

.resume-bottom {
  bottom: -20%;
  width: 100%;
}

.sub-footer>span{
  cursor: pointer;
}

/* hover */

.commen-btn:hover {
  color: var(--btns-color);
  background-color: var(--white-color);
  border: 1px solid var(--btns-color);
  box-shadow: 0px 0px 10px;
}

.demo-btn:hover {
  background-color: var(--btns-color);
  box-shadow: 0px 0px 10px var(--btns-color);
  color: var(--white-color);
}

.start-btn:hover {
  background-color: var(--black-color);
  box-shadow: 0px 0px 10px var(--black-color);
  color: var(--white-color);
}

.next:hover {
  background-color: var(--white-color);
  border: 1px solid var(--btns-color);
}

.next:hover svg path {
  fill: var(--btns-color);
}

.prev:hover {
  background-color: var(--btns-color);
}

.prev:hover svg path {
  fill: var(--white-color);
}

.commen-btn:hover,
.start-btn:hover,
.next:hover,
.prev:hover {
  transform: scale(1.03);
}

.commen-btn:active,
.start-btn:active,
.next:active,
.prev:active {
  transform: scale(0.98);
}

.nav-list a {
  position: relative;
}

.nav-list a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 0%;
  left: 0;
  background-color: var(--btns-color);
  height: 2px;
  transition: all 200ms linear;
}

.nav-list a:hover::after{
  width: 100%;
}

.nav-list a:hover{
  color: var(--btns-color);
}

.footer-hover:hover{
  text-shadow: 0px 0px 10px;
  color: var(--white-color);
}

@media (min-width: 576px) {
  .commen-btn {
    width: 174px;
    height: 53px;
  }

  .section4,
  .section2 {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .mt-sm-120 {
    margin-top: 120px;
  }

  .bottom-1 {
    bottom: 5%;
    left: 50%;
  }

  .section1-top {
    bottom: 66%;
    width: auto;
  }

  .section3-bottom {
    width: auto;
  }

  .resume-bottom {
    width: unset;
  }
}

@media (min-width: 768px) {
  .cv-builder::after {
    content: "";
    bottom: -4px;
  }

  /* header 4 images */

  .left-1 {
    top: 57px;
    left: 0;
  }

  .left-2 {
    left: 0;
    bottom: 0px;
  }

  .right-1 {
    right: 0;
    top: 57px;
  }

  .right-2 {
    bottom: 0px;
    right: 0;
  }

  .right-1 {
    transform: rotate(-15deg);
  }

  .left-1 {
    transform: rotate(15deg);
  }

  .disk-img {
    right: 3%;
    top: 48%;
  }

  .box-3d {
    top: 50%;
    left: 1%;
  }

  .disk-sec2 {
    top: 79%;
    left: 42%;
    transform: rotate(22deg);
  }

  .slick-white-box {
    max-width: 357px;
  }

  .slider2-col6 {
    position: relative;
    left: 25px;
    top: 5px;
  }
}

@media (min-width: 992px) {
  .pr-lg-36 {
    padding-right: 36px;
  }

  .mw-lg-499 {
    max-width: 499px;
  }

  .section2 {
    min-height: 590px;
  }

  .mt-lg-160 {
    margin-top: 160px;
  }

  .disk-img {
    right: 10%;
    top: 48%;
  }

  .right-1,
  .left-1 {
    top: 80px;
    width: 250px;
  }

  .right-2,
  .left-2 {
    width: 300px;
  }

  .disk-sec2 {
    top: 76%;
    left: 42%;
    transform: rotate(22deg);
  }

  .py-lg-80 {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .pt-lg-26 {
    padding-top: 26px;
  }

  .accordian {
    width: 856px;
  }

  .footer-p {
    max-width: 373px;
  }

  .section1-top {
    bottom: 26%;
  }

  .section1-bottom {
    right: 0;
    top: -30px;
  }

  .section3-bottom {
    top: 94px;
  }

  .resume-bottom {
    bottom: -64%;
  }
}

@media (min-width: 1200px) {
  .design {
    width: unset;
  }
}

@media (min-width: 1400px) {
  .pb-xxl-115 {
    padding-bottom: 115px;
  }

  .h-xxl-92 {
    height: 92%;
  }

  .box-3d {
    top: 65%;
  }

  .slick-white-box {
    max-width: 100%;
  }

  /* header 4 images */

  .left-1 {
    top: 141px;
    left: 52px;
  }

  .left-2 {
    left: 106px;
    bottom: 31px;
  }

  .right-1 {
    right: 44px;
    top: 115px;
  }

  .right-2 {
    bottom: 31px;
    right: 103px;
  }

  .bottom-1 {
    bottom: 16%;
    left: 50%;
  }

  .right-1,
  .left-1 {
    width: unset;
    transform: unset;
  }

  .right-2,
  .left-2 {
    width: unset;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .resume-img {
    height: 59vh;
  }
}

@media (max-width: 1200px) {
  .right-1,
  .left-1 {
    width: 242px;
  }

  .right-2,
  .left-2 {
    width: 308px;
  }

  .bottom-293 {
    bottom: 270px;
  }
}

@media (max-width: 991.9px) {
  .navbar-items {
    top: 0;
    left: -100%;
    z-index: 4;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: var(--white-color);
    flex-direction: column;
    justify-content: center;
    transition: all 0.4s linear;
  }

  .left-0 {
    left: 0;
  }

  .menubar {
    height: 45px;
    width: 48px;
  }

  .menubar span {
    height: 5px;
  }

  .menubar span {
    width: 100%;
    background-color: var(--black-color);
  }

  .menubar {
    z-index: 5;
  }

  .heading1 {
    font-size: var(--fs-40);
    line-height: var(--lh-110);
  }

  .left-1,
  .right-1 {
    width: 200px;
  }

  .left-2,
  .right-2 {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .box-3d {
    bottom: 0;
    transform: rotate(-51deg);
    left: 4%;
  }

  .disk-img {
    top: 46%;
    right: 13%;
    transform: rotate(-26deg);
  }

  .slick-slide {
    padding-left: 10px !important;
  }

  .resume-top {
    right: 0;
    bottom: 46%;
  }

  .bottom-293 {
    bottom: 19px;
  }

  .pb-90{
    padding-bottom: 90px;
  }
}

@media (max-width: 576px) {
  .menubar {
    height: 40px;
    width: 40px;
  }

  .disk-img {
    top: 61%;
    right: 0;
  }

  .bottom-293 {
    margin-top: 30px;
  }

  .accordian-h {
    font-size: var(--fs-16);
  }

  .next {
    right: 0;
  }

  .prev {
    left: 0;
  }
}
